* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
  background-image: url(./image/kanairo.png);
  background-repeat: no-repeat;
  background-size:cover;
}
header{
  font-family: 'Courier New', Courier, monospace;
}

div#navBar {
  text-align: center;
  margin: 25px 25px;
}

div a {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: rgb(16, 17, 17);
  text-decoration: none;
  padding:25px 25px;
}

a:hover {
  color: rgb(237, 229, 229);
}

div h1 {
  font-size:70px;
  padding-top: 100px;
  color:aquamarine
}

div h1 em {
  color:rgb(247, 214, 131);
}
div#profile {
  text-align: center;
  padding-top: 50px;
}

div#profile p {
  font-size: xx-large;
  padding-top: 50px;
  color:azure;
}

div#icons {
  text-align: center;
  color: rgb(44, 195, 72);
  padding: 25px;
}

i.material-icons a {
  color: greenyellow;
  transition: all 0.3s ease 0s;
}

i.material-icons a:hover {
  color: red;

}






  