* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 750px;
  width: 100%;
  z-index: -1;
  background-image: url(./image/kanairo.png);
  background-repeat: no-repeat;
  background-size:cover;
}
header{
  font-family: 'Courier New', Courier, monospace;
}

div#navBar {
  text-align: center;
  margin: 25px 25px;
}

div a {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: rgb(16, 17, 17);
  text-decoration: none;
  padding:25px 25px;
}

a:hover {
  color: rgb(237, 229, 229);
  border-bottom: 2px solid gold;
}

div h1 {
  font-size:70px;
  padding-top: 100px;
  color:aquamarine
}

div h1 span {
  font-size: 100px;
  color:rgb(232, 235, 17);
}
div#profile {
  text-align: center;
  padding-top: 50px;
}

div#profile p {
  font-size: xx-large;
  padding-top: 50px;
  color:azure;
}

div#icons {
  text-align: center;
  color: rgb(44, 195, 72);
  padding: 25px;
}

i.material-icons a {
  color: greenyellow;
  transition: all 0.3s ease 0s;
  justify-content: space-around;
  padding: 30px;
  font-size: 25px;
}

i.material-icons a:hover {
  color: red;

}

div#button {
  text-align: center;
  padding-left: 150px;
  padding-top: 150px;
  padding-right: 150px;
  padding-bottom: 80px;

}

button {
  font-size: 30px;
  color: aqua;
  border:1rem;
  border-radius: 5px;
  color: whitesmoke;
  background-color:black;
  font-family: 'Courier New', Courier, monospace;
}

button:hover {
  background-color:gold;
  color: black;

}

div#about {
  text-align: center;
  color: white;
  height: 750px;
  padding: 2rem;
  background-image: url(./image/desk.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  align-items: center;
}

div#about h1 {
  padding-top: 2rem;
  color: rgba(255, 217, 0, 0.916);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

div.flex{
  font-size: larger;
  align-items: center;
  display: flex;
 
  justify-content: space-around;
}

div.flex img {
  border-style: groove;
  height: auto;
  width: 450px;
}

div.flex div {
  color: rgb(226, 192, 43);
}









  